<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="container">

            <div class="site">
                <div class="header row">
                    <div class="title col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <strong><a href="/">{{ site.name }}</a></strong>
                    </div>
                    <div class="class-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <ul class="list-inline pull-right">
                            <li><a href="http://bmats.co">Bryan Matsuo</a></li>
                            <li><a href="http://github.com/bmatsuo/">on github.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    {{ content }}
                </div>

                <div class="footer row">
                    <div class="contact">
                        <p>
                        Bryan Matsuo<br/>
                        Software Engineer
                        </p>
                    </div>
                    <div class="contact">
                        <p>
                        <a href="http://bmats.co/">bmats.co</a><br/>
                        <a href="http://github.com/bmatsuo/">github.com/bmatsuo</a><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
